<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.vistorservice.dao.PolygonMapper">
    <resultMap id="PolygonResultMap" type="com.campus.vistorservice.model.PolygonModel">
        <id column="id" property="gid"/>
        <result column="name" property="name"/>
        <result column="geometry" property="geometry"/>
    </resultMap>

    <select id="selectPolygonByGid" resultMap="PolygonResultMap">
        SELECT id, name,
               ST_AsGeoJSON(geom) AS geometry
        FROM cau_polygon WHERE id = #{gid}
    </select>

    <select id="selectAllPolygons" resultMap="PolygonResultMap">
        SELECT id, name,
               ST_AsGeoJSON(geom) AS geometry
        FROM cau_polygon
    </select>

    <select id="searchPolygonsByName" resultMap="PolygonResultMap">
        SELECT id, name,
               ST_AsGeoJSON(geom) AS geometry
        FROM cau_polygon WHERE name LIKE concat('%', #{name}, '%')
    </select>
</mapper>
